.daytext {
  display: grid;
  align-items: center;
  color: rgba(80, 78, 78, 0.7);
  /* text-shadow: 1px 1px 3px rgb(105, 0, 0, 0.3); */
  text-shadow: -1px -1px 0px rgba(212, 210, 210, 0.7);
  font-size: 14px;
  text-align: center;
  font-family: fantasy;
}
