.switchround {
  position: relative;
  display: inline-block;
  align-self: center;
  justify-self: center;
  width: 60px;
  height: 30px;
  border-radius: 30px;
}

.switchround input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchsliderround {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3b3d42;
  transition: 0.4s;
  border-radius: 28px;
}

.switchsliderround:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switchsliderround {
  background-color: lightgreen;
  border-radius: 28px;
}

input:checked + .switchsliderround::before {
  transform: translateX(26px);
  border-radius: 50%;
}

input:hover + .switchsliderround {
  transform: scale(1.05);
}

input:hover + .switchsliderround::before {
  background-color: white;
}
