.switchsimple {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.switchsimple input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchslidersimple {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3b3d42;
  transition: 0.4s;
  border-radius: 28px;
}

.switchslidersimple:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .switchslidersimple {
  transition: all 0.3s ease;
  color: #282c34;
  background-color: lightgreen;
  border-radius: 28px;
}

input:checked + .switchslidersimple::before {
  transform: scale(0.9);
  outline: 2px linear-gradient(#4d4e4e, #282929);
  border-radius: 50%;
  background-color: white;
}

input:hover + .switchslidersimple::before {
  transform: scale(1.1);
  outline: 2px linear-gradient(#f3f5f5, #3ae6e6);
  border-radius: 50%;
  background-color: white;
}
