.App {
}

/* background-color: #282c34; */

body {
  background-repeat: repeat;
  /* background: url(./figma_template.png) no-repeat center fixed; */
  background-size: auto 100%;
}

.smarthome {
  position: absolute;
  top: 5%;
  left: 10%;
  height: 620px;
  width: 1150px;
  display: flex;
  border-radius: 5px;
  outline: solid 1px green;
  background-color: #282c34;
  /* background-color: #282c3496; */
}

.header {
  position: relative;
  color: rgb(199, 199, 199);
  /* text-shadow: 1px 1px 0 rgb(45, 228, 252); */
  text-align: center;
  font-family: fantasy;
  font-size: 15px;
  font-weight: bolder;
  height: 20px;
  outline: solid 3px grey;
}

.container.left {
  position: relative;
  top: 40px;
  left: 60px;
  height: 530px;
  width: 560px;
  outline: solid 3px blue;
}

.container.right {
  position: relative;
  top: 80px;
  height: 500px;
  width: 300px;
  outline: solid 3px coral;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container.topleft {
  position: relative;
  height: 250px;
  width: 560px;
  padding-bottom: 40px;
  outline: solid 3px blue;
}

.container.bottomleft {
  position: relative;
  height: 250px;
  width: 560px;
  display: flex;
  flex-direction: column;
  outline: solid 3px red;
}

.sliderbox {
  height: 250px;
  width: 560px;
  background-color: rgb(150, 150, 150);
  border-radius: 5px;
}

.sliderbox_upper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 85%;
  width: 100%;

  outline: solid 3px cornflowerblue;
  box-sizing: border-box;
}

.sliderbox_under {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: solid 3px greenyellow;
}
.box {
  /* color: #fff; */
  /* text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1); */
  /* text-align: center; */
  /* font-size: 10px; */
  box-sizing: border-box;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
  /* outline: solid 3px blue; */
}
